image: node

pipelines:
  default:
    - step:
        name: Test
        script:
          - npm install
          - npm test

    - step:
        name: Build
        script:
          - npm install
          - npm run build
        artifacts:
          - dist/**  

    - step:
        name: Deploy to Firebase
        deployment: production
        script:
          - echo "$GOOGLE_APPLICATION_CREDENTIALS_JSON" > firebase-key.json
          - export GOOGLE_APPLICATION_CREDENTIALS="$PWD/firebase-key.json"
          - npm install -g firebase-tools
          - firebase deploy --only hosting --project "$FIREBASE_PROJECT"
